body {
    background-color: rgb(20, 20, 22);
    background-repeat: no-repeat;
    color: white;
    font-family: Vernada;
    font-size: 215%;
    margin:0;
}

body::-webkit-scrollbar{
    display:none;
}

footer{
    position:fixed;
    margin: auto;
    bottom:0px;
    width:110%;
    height:80px;
}

/* 레이아웃 */
#jb-header {
    position: fixed;
    top: 0px;
    width: 100%;
    height:112px;
    background-color: rgb(40,40,44);
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0px;
    border: .5px solid rgb(20,20,22,0);
}

#jb-header div{
    width:1165px;
    height:65px;
    font-size:24px;
    margin:0 auto;
}

#jb-header div h1 {
    font-family: Viner Hand ITC;
    text-align: center;
}

#jb-container {
    position: absolute;
    top: 150px;
    width: 100%;
    margin: auto;
    padding: 0;
}

#jb-layer {
    padding-top:0px;
    text-align : center;
    margin: 0px auto;
    border: .5px solid rgb(20,20,22,0);
}

#jb-wide-contents {
    border: .5px solid rgb(20,20,22,0);
    padding-top:30px;
    padding-bottom:30px;
}

#jb-wide-contents-type{
    width:1140px;
    height:200px;
}

#jb-wide-contents h2{
    margin-top:50px;
    font-size:1em;
}

.temp {
    width:1200px;

    margin:0 auto;
}

.temp p {
    margin-left:0px;
}

#jb-wide-contents p{
    font-size:0.7em;
    margin-left:0px;
}

#jb-sidebar1 {
    width: 200px;
    padding: 20px;
    /*margin: 10px;*/
    float: right;
    border: .5px solid rgb(20,20,22,0);
}

#jb-left-contents {
    width: 300px;
    /*width: 160px;*/
    padding: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    float: left;
    border: .5px solid rgb(20,20,22,0);
}

#jb-right-contents {
    width: 300px;
    /*width: 160px;*/
    padding: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
    float: right;
    border: .5px solid rgb(20,20,22,0);
}

#jb-content2 {
    width: 450px;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    border: .5px solid rgb(20,20,22,0);
}


/* 팔레트 레이아웃 */
.palette_layout {
    display: flex;
    height: 185px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left : auto;
    margin-right : auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

.palette_color {
    display: inline;
    margin-left : auto;
    margin-right : auto;
    vertical-align: text-bottom;
    border: 10px solid rgb(250, 250, 250);
}

.palette_color h6 {
    display: inline-block;
    width: 100%;
    float: left;
    margin: auto;
    margin-top: -3px;
    text-align: left;
}

.filebox{
    width:1113px;
    height:57px;
    margin: 0 auto;
}

/* 버튼 디자인 */
.filebox label {
    display: inline-block;

    height: 30px;
    padding: .5em .75em;
    margin-bottom: 0;
    font-size:20px;
    line-height: normal;
    vertical-align: middle;
    background-color: rgb(60,60,66);
    cursor: pointer;
    border-radius: .25em; /* 테두리 라운딩*/
}


.lb_temp1 {
    width: 301px;
    margin-right:42px;
}

.lb_temp2 {
    width: 300px;
    margin-left:40px;
}

.filebox input[type="file"] { /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    margin-right:40px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
}

.filebox input[type="button"] { /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    margin-left:40px;
    padding: 0;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.buttonbox {
    height:100%;
}

.buttonbox label {
    display: inline-block;
    width: 660px;
    height: 100%;
    margin: -1px;
    margin-left: -0.6%;
    margin-right: -0.6%;
    text-align: center;
    font-size: 100%;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    padding-top:0px;
    background-size: auto 50%;
}

.buttonbox button { /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: auto;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0px;
}




/* 레이아웃 겹치게 테스트 */
.personal_layout {
    display: inline;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left : auto;
    margin-right : auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

.personal_layout img {
    width: 60%;
    padding-top: 0;
    padding-bottom: 0;
    margin: auto;
    margin-top: -8px;
    /*border: 0.5px solid rgb(250,250,250);*/
}

#image_section {
    margin-left:auto;
    margin-right:auto;
    display:none;
    border:1px solid white;
    width:1000px;
    height:auto;
}

#pc-type-result {
    display:none;
}

#jb-wide-contents-type{
    display:none;
    margin:0 auto;
    margin-top:50px;
    height:200px;
    border: .5px solid rgb(20,20,22,0);
}

#jb-wide-contents-type h2 {
    margin: auto 0;
    text-align: center;
    vertical-align:middel;
    letter-spacing:4px;
}