/* 베이스 폼 */
body {
    background-color: rgb(20, 20, 22);
    background-repeat: no-repeat;
    color: white;
    font-family: Vernada;
    font-size: 215%;
}

body::-webkit-scrollbar{
    display:none;
}

footer{
    position:fixed;
    margin: auto;
    bottom:0px;
    width:110%;
    height:101px;
}

/* 폰트 디자인(정렬 등) */
h1  { font-family: Viner Hand ITC;
        text-align: center; }
  h2  { text-align: center; }
  h5  { text-align: left; }
  h6  { font-size: 50%;
        text-align: left; }
  p   { text-align: left; }
  img { margin: 7%; }

/* 레이아웃 */
#jb-header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(40,40,44);
    padding: 0px;
    padding-top: 1%;
    padding-bottom: .1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    border: .5px solid rgb(20,20,22,0);
}

#jb-container {
    position: absolute;
    top: 250px;
    width: 100%;
    margin: auto;
    padding: 0;
}

#jb-layer {
    text-align : center;
    padding: 3%;
    margin: 0px auto;
    margin-bottom: 1%;
    border: .5px solid rgb(20,20,22,0);
}

#jb-wide-contents {
    padding: 3%;
    margin-bottom: 1%;
    border: .5px solid rgb(20,20,22,0);
}

#jb-prdt-contents {
    padding: 2%;
    margin-top: 1.5%;
    margin-bottom: 3%;
}

#output {
    padding: 3%;
    margin-bottom: 1%;
    border: .5px solid rgb(20,20,22,0);
}

#jb-sidebar1 {
    width: 200px;
    padding: 20px;
    /*margin: 10px;*/
    float: right;
    border: .5px solid rgb(20,20,22,0);
}

#jb-left-contents {
    width: 300px;
    /*width: 160px;*/
    padding: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    float: left;
    border: .5px solid #bcbcbc;
}

#jb-right-contents {
    width: 300px;
    /*width: 160px;*/
    padding: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
    float: right;
    border: .5px solid #bcbcbc;
}

#jb-content2 {
    width: 450px;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    border: .5px solid #bcbcbc;
}


/* 팔레트 레이아웃 */
.palette_layout {
    display: flex;
    height: 50px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left : auto;
    margin-right : auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

.palette_color {
    display: inline;
    width : 12%;
    /*height: 200%;*/
    margin-left : auto;
    margin-right : auto;
    vertical-align: text-bottom;
    border: 3px solid rgb(250, 250, 250);
}

.palette_color h6 {
    display: inline-block;
    width: 100%;
    float: left;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
    margin-top: -3px;
    /*margin-left: -0.5%;*/
    text-align: left;
}

/* 추천상품 레이아웃 */
.recommend_layout {
    display: flex;
    height: 350px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left : auto;
    margin-right : auto;
    margin-top: 2.5%;
    margin-bottom: 1%;
}

.recommend_prdt {
    display: inline-block;
    width: 30%;
    height: auto;
    margin-left : auto;
    margin-right : auto;
    vertical-align: text-bottom;
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
    border: 0.5px solid rgb(250, 250, 250, 0);
}

/* 버튼 디자인 (https://webdir.tistory.com/435)*/
.filebox input[type="text"] {
    display: inline-block;
    width: 25%;
    height: 25%;
    padding: .5em .75em;
    margin-top: -3%;
    margin-bottom: 0;
    margin-left: 7%;
    margin-right: 7%;
    font-size:inherit;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: .25em; /* 테두리 라운딩*/
}

.filebox label {
    display: inline-block;
    width: 25%;
    height: 25%;
    padding: .5em .75em;
    margin-top: -3%;
    margin-bottom: 0;
    margin-left: 7%;
    margin-right: 7%;
    font-size:inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: rgb(60,60,66);
    cursor: pointer;
    border-radius: .25em; /* 테두리 라운딩*/
}

.filebox input[type="file"] { /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
}

.filebox input[type="button"] { /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.buttonbox label {
    display: inline-block;
    width: 30.3%;
    height: 60px;
    padding: .7em .5em;
    margin: -1px;
    margin-left: -0.6%;
    margin-right: -0.6%;
    text-align: center;
    font-size: 100%;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
  }

.buttonbox button { /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: auto;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0px;
  }


/* 레이아웃 겹치게 테스트 */
.personal_layout {
    display: inline;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left : auto;
    margin-right : auto;
    margin-top: 0;
    margin-bottom: 0;
}

.personal_layout img {
    width: 50%;
    padding-top: 0;
    padding-bottom: 0;
    margin: auto;
    margin-top: -8px;
    /*border: 0.5px solid rgb(250,250,250);*/
}

.contents-bright {
    display:none;
}

.contents-harmony {
    display:none;
}

.contents-palette {
    display:none;
}