<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>CAI Project - palette</title>
		<link id="cssLink" rel="stylesheet" href="{{url_for('static', filename='css/menuTwo_css2.css')}}">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"
				integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
				crossorigin="anonymous"></script>

		<script>
			var data = {{ data|safe }};
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/menuTwo42.js') }}"></script>
		<style>

		</style>

	</head>
	<body onload="bt_male_func()">
		<div id="jb-container">
<!-- 팔레트 폼 -->

			<fieldset id="jb-layer">
				<div id="jb-wide-contents">
					<div class="filebox">
						<label class="lb_temp1" for="bt_male">남자</label>
						<input type="button" id='bt_male' name="Male" onclick="bt_male_func()"/>
						<label class="lb_temp2" for="bt_female">여자</label>
						<input type="button" id='bt_female' name="Female" onclick="bt_female_func()"/>
						<p></p>
					</div>
					
					
					<div class="personal_layout" id="model_m">
<!--						<img src="../static/img/personal-test-top_m.png" style="background-color:rgb(245, 215, 200)"/>-->
						<img id="img_top_m" src="{{url_for('static', filename='img/personal-test-top_m.png')}}" style="background-color:rgb(245, 215, 200)"/>
<!--						<img src="../static/img/personal-test-bottom_m.png" style="background-color:rgb(20, 20, 40); margin-top:-17px;"/>-->
						<img id="img_bottom_m" src="{{url_for('static', filename='img/personal-test-bottom_m.png')}}"/>
					</div>
					
					<div class="personal_layout" id="model_w">
<!--						<img src="img/personal-test-top.png" style="background-color:rgb(245, 215, 200)"/>-->
						<img id="img_top_w" src="{{url_for('static', filename='img/personal-test-top.png')}}" style="background-color:rgb(245, 215, 200)"/>
<!--						<img src="img/personal-test-bottom.png" style="background-color:rgb(20, 20, 40);"/>-->
						<img id="img_bottom_w" src="{{url_for('static', filename='img/personal-test-bottom.png')}}"/>
					</div>
					
					
				</div>
				<div id="jb-wide-contents-wrap">
					<div id="jb-wide-content">- Bright Palette -</div>
					<div class="palette_layout">
						<div class="palette_color brt-blc1" style="background-color:rgb(15,65,69)">
							<h6 style="background-color:rgb(250,250,250)">
								<font color=black>RGB</br>15, 65, 69</font>
							</h6>
						</div>
						<div class="palette_color brt-blc2" style="background-color:rgb(174,158,235)">
							<h6 style="background-color:rgb(250,250,250)">
								<font color=black>RGB</br>174, 158, 235</font>
							</h6>
						</div>
						<div class="palette_color brt-blc3" style="background-color:rgb(69,35,24)">
							<h6 style="background-color:rgb(250,250,250)">
								<font color=black>RGB</br>69, 35, 24</font>
							</h6>
						</div>
						<div class="palette_color brt-blc4" style="background-color:rgb(254,66,69)">
							<h6 style="background-color:rgb(250,250,250)">
								<font color=black>RGB</br>254, 66, 69</font>
							</h6>
						</div>
						<div class="palette_color brt-blc5" style="background-color:rgb(136,186,69)">
							<h6 style="background-color:rgb(250,250,250)">
								<font color=black>RGB</br>136, 186, 69</font>
							</h6>
						</div>
						<div class="palette_color brt-blc6" style="background-color:rgb(194,211,69)">
							<h6 style="background-color:rgb(250,250,250)">
								<font color=black>RGB</br>194, 211, 69</font>
							</h6>
						</div>
					</div>
				
				
					<div id="jb-wide-content">- Harmony Palette -</div>
					<div class="palette_layout">
						<div class="palette_color hmny-blc1" style="background-color:rgb(15,65,69)">
							<h6 style="background-color:rgb(250,250,250)">
								<font color=black>RGB</br>15, 65, 69</font>
							</h6>
						</div>
						<div class="palette_color hmny-blc2" style="background-color:rgb(174,158,235)">
							<h6 style="background-color:rgb(250,250,250)">
								<font color=black>RGB</br>174, 158, 235</font>
							</h6>
						</div>
						<div class="palette_color hmny-blc3" style="background-color:rgb(69,35,24)">
							<h6 style="background-color:rgb(250,250,250)">
								<font color=black>RGB</br>69, 35, 24</font>
							</h6>
						</div>
						<div class="palette_color hmny-blc4" style="background-color:rgb(254,66,69)">
							<h6 style="background-color:rgb(250,250,250)">
								<font color=black>RGB</br>254, 66, 69</font>
							</h6>
						</div>
						<div class="palette_color hmny-blc5" style="background-color:rgb(136,186,69)">
							<h6 style="background-color:rgb(250,250,250)">
								<font color=black>RGB</br>136, 186, 69</font>
							</h6>
						</div>
						<div class="palette_color hmny-blc6" style="background-color:rgb(194,211,69)">
							<h6 style="background-color:rgb(250,250,250)">
								<font color=black>RGB</br>194, 211, 69</font>
							</h6>
						</div>
					</div>
					</br>
					</br>
				</div>

			</fieldset>

		</div>


		<div id="jb-header">
			<div>
				<h1>CAI PROJECT</h1>
			</div>
		</div>

         <footer>
            <div class="buttonbox">
<!--               <label for="button_1" style="background-color:rgb(40,40,44);background-image: url(img/icon-face-80.png);background-repeat:no-repeat;background-position: center;"></label>-->
               <label for="button_1" style="background-color:rgb(40,40,44);background-image: url({{url_for('static', filename='img/icon-face-80.png')}});background-repeat:no-repeat;background-position: center;"></label>
               <button id='button_1' onclick="window.location.href='http://13.209.69.114:8080/main'" ></button>

<!--               <label for="button_2" style="background-color:rgb(20,20,22);background-image: url(img/icon-palette-80.png);background-repeat:no-repeat;background-position: center;"></label>-->
               <label for="button_2" style="background-color:rgb(20,20,22);background-image: url({{url_for('static', filename='img/icon-palette-80.png')}});background-repeat:no-repeat;background-position: center;"></label>
               <button id='button_2' class="button1 white selected" onfocus="this.blur();" onclick="window.location.href='http://13.209.69.114:8080/color_recommnd'"></button>

<!--               <label for="button_3" style="background-color:rgb(40,40,44);background-image: url(img/icon-clothes-80-2.png);background-repeat:no-repeat;background-position: center;"></label>-->
               <label for="button_3" style="background-color:rgb(40,40,44);background-image: url({{url_for('static', filename='img/icon-clothes-80-2.png')}});background-repeat:no-repeat;background-position: center;"></label>
               <button id='button_3' class="button1 white selected" onfocus="this.blur();" onclick="window.location.href='http://13.209.69.114:8080/musinsa_recommnd'"></button>
            </div>
         </footer>

	</body>
</html>
