<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>CAI Project</title>
		<link id="cssLink" rel="stylesheet" href="{{ url_for('static', filename='css/main_css1.css') }}">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"
				integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
				crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/main49.js') }}"></script>
		<style>

		</style>
	</head>
	<body>
		<div id="jb-container">
			<fieldset id="jb-layer">
				<!-- 사진 선택 & 타입 보기 버튼 넣기-->
				<div id="jb-wide-contents">
					<form name = "img_type_summary" id="file_form" action = "http://13.209.69.114:8080/upload" method = "POST" enctype="multipart/form-data">
						<div class="filebox">
							<label class="lb_temp1" for="ex_file">사진선택</label>
							<input type='file' id='ex_file' name='file' onchange="readURL(this);"/>
							<label class="lb_temp2" for="show_type">타입보기</label>
							<input type="button" id='show_type' name="show_type"/>
						</div>

						<h2 style="margin-bottom: -1%;">Guide</h2>
						<div class="temp">
							<p>
							1. 흰색 배경의 형광등 아래에서 찍은 사진 권장</br>
							2. 안경 등으로 얼굴이 가려지지 않은 사진 권장</br>
							3. 모바일이 아닐 경우 창크기를 최대로 해주세요.</br>
							</p>
						</div>
					</form>
					
					<!-- 얼굴 사진 리사이징 띄우기
					<img id="image_section" src="#" alt="img" style="width:60%; height: auto;"/>
					-->
					<img id="image_section" src="#" alt="img" style="width:60%; height: auto;"/>
					
				
					<!-- 얼굴 측색 RGB 받아오기 -->
					<!-- 퍼스널 컬러 타입 받아오기 -->
					<div id="jb-wide-contents-type" style="background-color:rgb(245, 215, 200)">
						<hr color="white" size=5 style="margin-top: 50px;"/>
						<h2 id="pc-type-result-span" style="letter-spacing:4px">WARM SPRING BRIGHT</h2>
						<hr color="white" size=5 style="margin-bottom: -50px;"/>
					</div>
					
					<!-- 머신러닝 정확도 (or) 랜덤함수로 퍼센티지 갖고 오기 -->

					<br>
					<br>
					<div id="pc-type-result">
						당신의 피부 측색 결과 <b>XX.X% 정확도로</b><br>
						<font style="font-size: 120%;"><b><span class="pc-type-result-span">''</span></b></font> 입니다.
					</div>

				</div>
				</br>
				</br>

			</fieldset>
		</div>

		<div id="jb-header">
			<div>
				<h1>CAI PROJECT</h1>
			</div>
		</div>

         <footer>
            <div class="buttonbox">
<!--               <label for="button_1" style="background-color:rgb(20,20,22);background-image: url(img/icon-face-80.png);background-repeat:no-repeat;background-position: center;"></label>-->
               <label for="button_1" style="background-color:rgb(20,20,22);background-image: url({{url_for('static', filename='img/icon-face-80.png')}});background-repeat:no-repeat;background-position: center;"></label>
               <button id='button_1' onclick="window.location.href='http://13.209.69.114:8080/main'" ></button>

<!--               <label for="button_2" style="background-color:rgb(40,40,44);background-image: url(img/icon-palette-80.png);background-repeat:no-repeat;background-position: center;"></label>-->
               <label for="button_2" style="background-color:rgb(40,40,44);background-image: url({{url_for('static', filename='img/icon-palette-80.png')}});background-repeat:no-repeat;background-position: center;"></label>
               <button id='button_2' class="button1 white selected" onfocus="this.blur();" onclick="menu2()"></button>

<!--               <label for="button_3" style="background-color:rgb(40,40,44);background-image: url(img/icon-clothes-80-2.png);background-repeat:no-repeat;background-position: center;"></label>-->
               <label for="button_3" style="background-color:rgb(40,40,44);background-image: url({{url_for('static', filename='img/icon-clothes-80-2.png')}});background-repeat:no-repeat;background-position: center;"></label>
               <button id='button_3' class="button1 white selected" onfocus="this.blur();" onclick="menu3()"></button>
            </div>
         </footer>
	</body>
</html>
